.service-wrapper .card {
  border: none;
  box-shadow: 5px 5px 10px lightgray;
  margin: 10px 30px;
  border-radius: 10px;
}
.service-wrapper .card:hover {
  transform: scale(1.05);
  transition: 1s;
  cursor: pointer;
}
.service-wrapper {
  margin: 50px auto;
}
.service-wrapper .card-group {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}
.service-wrapper .card-group .card:nth-child(1) {
  margin-left: 0px;
}
@media screen and (max-width: 900px) {
  .service-wrapper .card-group {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media screen and (max-width: 700px) {
  .service-wrapper .card-group {
    grid-template-columns: 1fr;
  }
}
