.service-wrapper .card {
  border: none;
  box-shadow: 5px 5px 10px lightgray;
  margin: 10px 30px;
  border-radius: 10px;
}
.service-wrapper .card:hover {
  transform: scale(1.05);
  transition: 1s;
  cursor: pointer;
}
.service-wrapper {
  margin: 50px auto;
}
