/* contact us */
.contact-us-wrapper .form {
  /* background-color: #000; */
  background: linear-gradient(90deg, #286a2d, #6ead40);
  color: #fff;
  width: 100%;
  /* height: 550px; */
  padding: 100px;
  margin-bottom: -50px;
}
.contact-us-wrapper form {
  width: 50%;
  margin-left: 25%;
}
.contact-us-wrapper form input {
  width: 100%;
  /* background-color: #000; */
  color: #fff;
  border: none;
  border-bottom: 1px solid #fff;
  padding: 10px;
  border-radius: 5px;
}
.contact-us-wrapper form p {
  margin-top: 20px;
  margin-bottom: 5px;
}

.contact-us-wrapper form input:focus {
  outline: none;
}
.contact-us-wrapper .icon {
  width: 100%;
  transform: scale(1.3);
}

.contact-us-wrapper .icon:hover {
  transform: scale(1.5);
  transition: 0.5s;
  cursor: pointer;
}
.contact-us-wrapper .submit-form {
  border-radius: 10px;
}
.contact-us-wrapper .submit-form:hover {
  transform: scale(1.1);
  transition: 0.5s;
}
.contact-us-wrapper .submit-form:active {
  transform: scale(0.9);
  transition: 0s;
}
